node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.*

# Secrets
server/services/private-key.json
google-services.json
android/app/google-services.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.iml

# OS
Thumbs.db