services:
  - type: web
    name: crops-doctor-ai
    env: node
    buildCommand: npm install --legacy-peer-deps && npm run build
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: GOOGLE_PRIVATE_KEY
        sync: false
      - key: NODE_VERSION
        value: 20.16.0
